<label >New Figure</label><br><br>

<form action="/landmarks" method="post"><br><br>
  Name:  <input type="text" id="figure_name" name="figure[name]" value=""><br>
  <br><br>
  <input type="submit" name="Create a New Landmark" value="Create a New Landmark">
</form>
