<label >New Figure</label><br><br>

<form action="/landmarks" method="post"><br><br>
  Name:  <input type="text" id="landmark_name" name="landmark[name]" value=""><br>
  <br><br>
  Year completed: <input type="text" name="landmark[year_completed]" value=""><br><br>
  <input type="submit" name="Create a New Landmark" value="Create a New Landmark">
</form>
